<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>店員選択画面</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/clerkSelect.css}" rel="stylesheet">
</head>clerkManagement

<body>
	<div class="container">

		<div class="margin">
			<a href="/admin/admin">管理者画面へ戻る</a>
		</div>
		<div class="sub-container">
			<div class="seach-clerks">
				<div class="seach-clerks-form">
					<div class="seach-clerks-number">
							<lavel for="seach-clerks-bynum"></lavel>
							<input type="number" id="digit0" oninput="moveFocus(0)" class="no-spinner" autofocus>
							<input type="number" id="digit1" oninput="moveFocus(1)" class="no-spinner">
							<input type="number" id="digit2" oninput="moveFocus(2)" class="no-spinner">
							<input type="number" id="digit3" oninput="moveFocus(3)" class="no-spinner">
							<input type="number" id="digit4" oninput="moveFocus(4)" class="no-spinner">
							<input type="number" id="digit5" oninput="moveFocus(5)" class="no-spinner">
					</div>
					<div class="seach-clerks-name">
							<lavel for="seach-clerks-byname"></lavel>
							<input type="text" id="seach-clerks-byname" placeholder="店員の名前を入力" oninput="fetchClerksByName()">
					</div>
				</div>
				<div class="select-form-pulldown">
					<form id="myForm" action="@{submitServlet}" method="POST">
						<label for="selection"></label>
						<select id="selection" name="selection" onchange="choiceSubmitForm()">
							<option value="number">店員番号で検索</option>
							<option value="name">氏名で検索</option>
						</select>
					</form>
				</div>
			</div>
			<div class="margin">
				<table>
					<thead>
						<tr>
							<th>氏名</th>
							<th>店員番号</th>
							<th>メールアドレス</th>
							<th>携帯番号</th>
							<th>勤務開始日</th>
							<th>権限</th>
						</tr>
					</thead>
					<tbody id="clerksTableBody"></tbody>
				</table>
			</div>
		</div>

	</div>
	<script th:src="@{/js/admin.js}"></script>
</body>

</html>