<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>店員管理画面</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/clerkManagement.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="margin">
			<a href="/admin/clerkSelect?show">店員管理画面へ</a>
		</div>
		<div class="sub-container">
			<div class="clerk-detail">
					
				<input type="hidden" id="clerkIdHidden" th:value="${clerkId}" readonly>

				<div class="text-margin">
					<lavel for="editableText1">氏名　　　　　：</lavel>
					<input type="text" id="editableText1" class="clerk-text" th:value="${name}" readonly>
					<button id="editButton1" type="button" onclick="toggleEdit(1)">編集する</button>
				</div>
				<div class="text-margin">
					<lavel for="clerkNumberText">店員番号　　　：</lavel>
					<input type="number" id="clerkNumberText" class="clerk-text" th:value="${clerkNumber}" readonly>
				</div>
				<div class="text-margin">
					<lavel for="editableText2">メールアドレス：</lavel>
					<input type="text" id="editableText2" class="clerk-text" th:value="${mailAddress}" readonly>
					<button id="editButton2" type="button" onclick="toggleEdit(2)">編集する</button>
				</div>
				<div class="text-margin">
					<lavel for="editableText3">電話番号　　　：</lavel>
					<input type="text" id="editableText3" class="clerk-text" th:value="${tel}" readonly>
					<button id="editButton3" type="button" onclick="toggleEdit(3)">編集する</button>
				</div>
				<div class="text-margin">
					<lavel for="startDateText">勤務開始日　　：</lavel>
					<input type="text" id="startDateText" class="clerk-text" th:value="${startDate}" readonly>
				</div>
				<div class="text-margin">
					<lavel for="roleNameText">権限　　　　　：</lavel>
					<input type="text" id="roleNameText" class="clerk-text" th:value="${roleName}" readonly>
				</div>
			</div>
			<button type="button" id="changeClerkDetails" class="disabled-button" onclick="changeClerkDetails()" disabled>編集内容に更新</button>
			<button type="button" class="delete-button">このユーザーを削除</button>
		</div>
	</div>
	<script th:src="@{/js/clerkManagement.js}"></script>
</body>

</html>