<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>テスト画面</title>
	<link th:href="@{/css/test.css}" rel="stylesheet">
	<link th:href="@{/css/common.css}" rel="stylesheet">

</head>

<body>
	<div class="table-container">
		<table border="1">
			<thead>
				<tr><th>注文ID</th>
					<th>商品名</th>
					<th>数量</th>
					<th>注文時間</th>
					<th>配達状況</th>
					<th>配達済ボタン</th>
				</tr>
			</thead>
			<tbody th:if="${orderRecordDtoList != null}">
				<tr th:each="order, iter : ${orderRecordDtoList.orderRecordDtoList}">
					<td th:text="${order.id}"></td>
					<td th:text="${order.dishName}"></td>
					<td th:text="${order.quantity}"></td>
					<td th:text="${order.orderTime}"></td>
					<td th:if="${order.undeliveredFlg}" th:text="未配達"></td>
					<td th:if="${!order.undeliveredFlg}" th:text="配達済み"></td>
					<td>
						<form id="deliverd" th:action="@{/title/delivered}" method="POST">
							<input type="hidden" id="delivered" name="delivered" th:value="${order.id}">
							<button type="submit" id="delivered">配達済みにする</button>
						</form>
					</td>
			</tbody>
		</table>
		<form id="backToMenu" th:action="@{/title/title}" method="POST">
			<button type="submit" id="back-menu" name="menu">◀◀◀</button>
		</form>
	</div>
</body>

</html>