@charset "UTF-8";

.sub-container #chat-exit-notice {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.sub-container #change-mode-button {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*.sub-container #shopModeInfo {*/
/*	position: absolute;*/
/*	top: 10px;*/
/*	right: 100px;*/
/*}*/