@charset "UTF-8";

/* 全体のリセット */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-yellow: #fff666;
	--secondary-blue: #4466aa;
	--dark-blue: #223366;
	--background: #ffffcc;
	--shadow-color: rgba(34, 51, 102, 0.2);
}

html {
	height: 100%;
}

body {
	background-color: var(--background);
	font-family: "Courier New", monospace;
	color: var(--dark-blue);
	height: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

/* ヘッダー */
header {
	background-color: #0F3460;
	/* 深い青 */
	padding: 20px;
	text-align: center;
	color: #FFCC00;
	/* 黄色アクセント */
	font-size: 24px;
}

/* ボタン */
button {
	background-color: #FFCC00;
	background-color: #f0e68c;
	color: #1A1A2E;
	border: 2px solid #1A1A2E;
	/*	padding: 10px 20px;*/
	margin: 10px 0;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.disabled-button {
	background-color: #cccccc;
	/* 灰色にして無効を表現 */
	cursor: not-allowed;
	/* カーソルを変更して無効を表現 */
}

.disabled-button:hover {
	background-color: #cccccc;
	/* 灰色にして無効を表現 */
}

button:hover {
	background-color: #FFA500;
	/* 濃いオレンジ色でアニメーション */
}


.table-container {
	/*	height: 90%;*/
	max-height: 300px;
	/* コンテナの高さを制限 */
	position: relative;
	overflow: hidden;
	margin: 50px;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff666;
	/* テーブル全体の背景色 */
}

thead {
	position: sticky;
	top: 0;
	/*	background-color: white;*/
	z-index: 1;
	/*	background-color: #ffcc00;*/
	/* ヘッダー行の背景色 */
	color: #000;
	/* ヘッダーの文字色 */
}

tbody {
	display: block;
	overflow-y: auto;
	max-height: calc(300px - 30px);
	/* table-containerの高さからヘッダーの高さを引いた値 */

	/* スクロールバー非表示 */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

tbody tr:nth-child(odd) {
	background-color: #fffacd;
	/* 奇数行の背景色 */
}

tbody tr:nth-child(even) {
	background-color: #fff8dc;
	/* 偶数行の背景色 */
}

/* テーブルデータセルのスタイル */
td {
	word-wrap: break-word;
	/* 長い単語の途中で改行を行う */
	white-space: normal;
	/* テキストの折り返しを許可する */
}

/* 特定の列の幅を制限 */
/*td.email-cell {*/
/*    max-width: 200px;  必要に応じて幅を調整 */
/*}*/


td,
th {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
	color: #333;
	/* 通常の文字色 */
}

tbody::-webkit-scrollbar {
	display: none;
}

thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

/* テーブルの行が強調されるスタイル */
tbody tr:hover {
	background-color: #f0f8ff;
	/* 強調する背景色 */
	transition: background-color 0.3s;
	/* スムーズな背景色の変化 */
}

/* カードデザイン (メニュー表示用) */
.card {
	background-color: #0F3460;
	border: 1px solid #FFCC00;
	padding: 15px;
	margin: 15px 0;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h3 {
	color: #FFCC00;
	margin-bottom: 10px;
}

.card p {
	color: #EAEAEA;
}

.container {
	width: 90%;
	height: 90%;
	margin: 10px auto;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
	color: red;
}

.sub-container {
	width: 80%;
	height: 80%;
	margin: 20px auto;
	padding: 15px;
	position: relative;
	border: 1px solid #bbb;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* フッター */
footer {
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	color: #888;
}

.margin {
	padding: 5px;
	margin: 5px;
}

.no-spinner {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    text-align: center; /* 数字を中央に配置 */
    width: 20px; /* 必要に応じて幅を調整 */
}

/* Webkit（Chrome、Safari、Opera）ブラウザのスピナーを非表示にする */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefoxブラウザのスピナーを非表示にする */
.no-spinner {
    -moz-appearance: textfield;
}