@charset "UTF-8";

.sub-container #profile-button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.sub-container #congestion-button {
	position: absolute;
	top: 70px;
	right: 10px;
}

.sub-container #logout-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.sub-container #back-Button {
	position: absolute;
	bottom: 10px;
	left: 10px;
}