@charset "UTF-8";

.shop-name {
	/*	font-family: fantasy;*/
	font-family: ‘ＭＳ 明朝’, serif;
	font-size: 50px;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 230px;
}

.seatNumber {
	display: flex;
	justify-content: center;
	align-items: center;
/*	margin-top: 200px;*/
}

.link-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 170px;
/*	padding-bottom: 10px;*/
}

.start-button {
	width: 230px;
	height: 80px;
	padding: 10px 20px;
	font-size: 30px;
	cursor: pointer;
}