<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>パスワード変更画面</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="margin" th:if="${profile == null}">
			<a href="/clerks/clerkManagement?profile">店員選択画面へ</a>
		</div>
		<div class="sub-container">
			<form id="changePassword" th:action="@{/clerks/changePassword}">
				<input type="hidden" name="_csrf" value="${_csrf.token}">
				<div class="margin">
					<lavel for="current-password-box">現在のパスワード　　　　　</lavel>
					<input type="password" id="current-password-box" name="currentPassword" placeholder="現在のパスワードを入力"
						required>
				</div>
				<div class="margin">
					<lavel for="changed-password-box">新しいパスワード　　　　　</lavel>
					<input type="password" id="changed-password-box" name="newPassword" placeholder="新しいパスワードを入力"
						required>
				</div>
				<div class="margin">
					<lavel for="confirm-password-box">新しいパスワード（確認用）</lavel>
					<input type="password" id="confirm-password-box" name="confirmPassword" placeholder="新しいパスワードを再入力"
						required>
				</div>
				<div class="margin">
					<button type="submit" id="change-password-button" name="change">パスワード変更</button>
				</div>
				<div class="margin">
					<div class="error-message" th:text="${mismatchError}"></div>
					<div class="error-message" th:text="${isNotCurrentPassword}"></div>
					<div class="error-message" th:text="${isNotNewPassword}"></div>
					<div class="confirm-message" th:text="${changePasswordConfirm}"></div>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/js/changePassword.js}"></script>
</body>

</html>