<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- HTMLにCSRFトークンを埋め込む -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>利用客を選択してください</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="margin">
			店員番号：<span sec:authentication="name" style="text-align: center;">ユーザー名</span>
		</div>

		<div style="text-align: right; margin-bottom: 10px;">
			<label for="filterOptions">表示フィルター:</label>
			<select id="filterOptions" onchange="filterTable()">
				<option value="all">すべて表示</option>
				<option value="eating">食事中の人のみ表示</option>
				<option value="waiting">注文待ちの人のみ表示</option>
			</select>
		</div>
		<span id="rowCount">表示人数 ： [[${passengerCount}]] 人</span>

		<table border="1">
			<thead>
				<tr>
					<th>利用客ID</th>
					<th>座席番号</th>
					<th>食事開始時間</th>
					<th>食事終了時間</th>
					<th>配達状況</th>
					<th>選択ボタン</th>
				</tr>
			</thead>
			<tbody id="passengersTableBody" th:if="${passengersList != null}">
				<tr th:each="passenger, iter : ${passengersList}" style="text-align: center;">
					<td th:text="${passenger.passengerId}"></td>
					<td th:text="${passenger.seatNumber}"></td>
					<td th:text="${passenger.startTime}"></td>
					<td th:if="${passenger.eatingFlg}" th:text="食事中"></td>
					<td th:if="${!passenger.eatingFlg}" th:text="${passenger.endTime}"></td>
					<td th:if="${passenger.undeliveredFlg}">未配達
						[[${passenger.numberUndelivered}]]/[[${passenger.numberOrdered}]]</td>
					<td th:if="${!passenger.undeliveredFlg}" th:text="お届け済み"></td>
					<td>
						<form id="selectPassenger" th:action="@{/clerks/delivered}">
							<input type="hidden" id="passengerId" name="passengerId"
								th:value="${passenger.passengerId}">
							<button type="submit" id="showClerkWorkPage" name="show">選択</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="margin" style="display: flex; gap: 10px;">
			<form id="showDishesPage" th:action="@{/clerks/dishes}" method="POST"
				sec:authorize="hasRole('ROLE_Manager')">
				<button type="submit" id="DishesPageButton">商品一覧</button>
			</form>
			<form id="backToTheTitle" th:action="@{/}" method="POST">
				<button type="submit" id="TitleBackButton">タイトルに戻る</button>
			</form>
			<form id="loginform" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
				<button type="submit" id="login" name="show">ログアウト</button>
			</form>
			<form id="clerksform" th:action="@{/clerks/clerks}" sec:authorize="hasRole('ROLE_Manager')" method="POST">
			<button type="submit" class="manager-button">
				店長専用ボタン
			</button>
			</form>
		</div>
	</div>
	<script th:src="@{/js/Clerks.js}"></script>
</body>

</html>