<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- HTMLにCSRFトークンを埋め込む -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>利用客を選択してください</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="margin">
			店員番号：<span sec:authentication="name" style="text-align: center;">ユーザー名</span>
		</div>

		<table border="1">
			<thead>
				<tr>
					<th>利用客ID</th>
					<th>座席番号</th>
					<th>食事開始時間</th>
					<th>食事終了時間</th>
					<th>配達状況</th>
					<th>選択ボタン</th>
				</tr>
			</thead>
			<tbody th:if="${passengersList != null}">
				<tr th:each="passenger, iter : ${passengersList}" style="text-align: center;">
					<td th:text="${passenger.passengerId}"></td>
					<td th:text="${passenger.seatNumber}"></td>
					<td th:text="${passenger.startTime}"></td>
					<td th:if="${passenger.eatingFlg}" th:text="食事中"></td>
					<td th:if="${!passenger.eatingFlg}" th:text="${passenger.endTime}"></td>
					<td th:if="${passenger.undeliveredFlg}">未配達  [[${passenger.numberUndelivered}]]/[[${passenger.numberOrdered}]]</td>
					<td th:if="${!passenger.undeliveredFlg}" th:text="お届け済み"></td>
					<td>
						<form id="selectPassenger" th:action="@{/clerks/delivered}">
							<input type="hidden" id="passengerId" name="passengerId"
								th:value="${passenger.passengerId}">
							<button type="submit" id="showClerkWorkPage" name="show">選択</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<form id="loginform" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
			<button type="submit" id="login" name="show">ログアウト</button>
		</form>
		<form id="backToTheTitle" th:action="@{/}" method="POST">
			<button type="submit" id="TitleBackButton">タイトルに戻る</button>
		</form>
	</div>
	<script th:src="@{/js/Clerks.js}"></script>
</body>

</html>