<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>商品一覧</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/dishes.css}" rel="stylesheet">
</head>

<body>
	<div class="container">

		<div class="margin">
			<a href="/clerks/choice?show">選択画面へ</a>
		</div>

		<div style="text-align: right; margin-bottom: 10px;">
			<label for="onsaleFilterOptions">表示フィルター:</label>
			<select id="onsaleFilterOptions" onchange="onSaleFilter()">
				<option value="all">すべて表示</option>
				<option value="onsale">提供中の料理のみ表示</option>
				<option value="notonsale">提供中止の料理のみ表示</option>
			</select>
		</div>
		<span id="dishesCount">表示品数 ： [[${dishesCount}]] 個</span>

		<table border="1" id="dishesTableBody" style="text-align: center;">
			<thead>
				<tr>
					<td>商品名</td>
					<td>注文番号</td>
					<td>値段</td>
					<td>提供</td>
				</tr>
			</thead>
			<tbody th:if="${dishes != null}">
				<tr th:each="dish, iter : ${dishes}" style="text-align: center;">
					<td th:text="${dish.dishName}"></td>
					<td th:text="${dish.orderNumber}"></td>
					<td th:text="${dish.price}"></td>

					<td>
						<div class="switch-wrapper">
							<span id="onSale" class="statusLabel" th:if="${dish.onSaleFlg}">提供中　</span>
							<span id="notOnSale" class="statusLabel" th:if="${!dish.onSaleFlg}">提供中止</span>


							<label class="switch">
								<input type="hidden" class="dishIdClass" th:value="${dish.dishId}">
								<input type="checkbox" th:checked="${dish.onSaleFlg == true}" class="toggleButton">
								<span class="slider round"></span>
							</label>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div style="text-align: left; margin-top: 10px;">
<!--			<button class="range-button" data-range-start="1000" data-range-end="1999">1000〜1999</button>-->
<!--			<button class="range-button" data-range-start="2000" data-range-end="2999">2000〜2999</button>-->
<!--			<button class="range-button" data-range-start="3000" data-range-end="3999">3000〜3999</button>-->
<!--			<button class="range-button" data-range-start="4000" data-range-end="4999">4000〜4999</button>-->
<!--			<button class="range-button" data-range-start="1000" data-range-end="1999">1000〜1999</button>-->
<!--			<button class="range-button" data-range-start="2000" data-range-end="2999">2000〜2999</button>-->
<!--			<button class="range-button" data-range-start="3000" data-range-end="3999">3000〜3999</button>-->
<!--			<div class="button-container">-->
<!--				 静的に定義されたボタンも残せます（オプション） -->
			</div>
		</div>

	</div>
	<script th:src="@{/js/Clerks.js}"></script>
</body>

</html>