<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<!-- HTMLにCSRFトークンを埋め込む -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
	<div class="container">
		<div class="margin">
			<a href="/title/title?title">タイトルに戻る</a>
		</div>
		<div class="sub-container">
			<div class="margin">
				<form th:action="@{/in}" method="POST">
					<input type="number" name="clerkNumber" placeholder="店員番号を入力" autofocus>
					<input type="password" name="password" placeholder="パスワードを入力">
					<button type="submit">ログイン</button>
				</form>
				<form th:action="@{/login/sendEmail?show}" method="POST">
					<button type="submit" id="showFogotPassPage">パスワードを忘れた方はこちら</button>
				</form>
			</div>
			<div th:if="${param.error}">
				<p>ログインに失敗しました。ユーザー名またはパスワードを確認してください。</p>
			</div>
		</div>
	</div>
</body>

</html>