<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>パスワード再設定用画面</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<!-- HTMLにCSRFトークンを埋め込む -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
	<div class="container">
		<div class="sub-container">
			<form id="resetPassword" th:action="@{/login/resetPassword}">
				<input type="hidden" name="_csrf" value="${_csrf.token}">
				<div class="margin">
					<lavel for="reset-newPassword-box">新しいパスワード　　　　　</lavel>
					<input type="password" id="reset-newPassword-box" name="newPassword" placeholder="新しいパスワードを入力"
						required>
				</div>
				<div class="margin">
					<lavel for="confirm-newPassword-box">新しいパスワード（確認用）</lavel>
					<input type="password" id="confirm-newPassword-box" name="confirmNewPassword"
						placeholder="新しいパスワードを再入力" required>
				</div>
				<div class="margin">
					<button type="submit" id="reset-password-button" name="reset">パスワード変更</button>
				</div>
				<div class="margin">
					<p><span class="error-message" th:text="${mismatchError}"></span></p>
					<p><span class="confirm-message" th:text="${resetConfirm}"></span></p>
				</div>
			</form>
		</div>
	</div>

</body>

</html>